# Python依存関係
# システム要件: Ubuntu/Debian: sudo apt install python3-tk
pandas
pandas-stubs  # Mypy型チェック用
requests
types-requests  # Mypy型チェック用
schedule
XlsxWriter
openpyxl
Flask
scikit-learn
pytest
pytest-cov
mypy  # 型チェック用
